EXPO_PUBLIC_DONATE_LIBERAPAY_URL=
EXPO_PUBLIC_DONATE_VENMO_URL=
EXPO_PUBLIC_DONATE_PAYPAL_URL=
EXPO_PUBLIC_DONATE_ETH_ADDRESS=
EXPO_PUBLIC_DONATE_SOL_ADDRESS=
EXPO_PUBLIC_DONATE_BTC_ADDRESS=
EXPO_PUBLIC_DONATE_DOGE_ADDRESS=
